## Mount Google Drive

In [ ]:
from google.colab import drive

# Make sure to unmount drive at mount point
drive.flush_and_unmount()
drive.mount('/content/drive')

# Research Start

In [1]:
from datetime import datetime
from scipy import stats  
import os
import pytz
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np  

%matplotlib inline

### Creating IDX Equities Time Series

In [2]:
# idx_combined = pd.read_csv('/home/nikki/documents/amibroker/idx_exported_combined.csv', parse_dates=[1])

In [2]:
# Location of the IDX Stocks OHLC csv files
# csv_loc = '/content/drive/Shared drives/algo-clenow/idx_exported_csv'
# csv_loc = '/Users/nikki/Documents/idx_exported_csv'
csv_loc = '/home/nikki/documents/amibroker/exported-csv/'

# Backup if the first one doesn't work
# csv_loc = '/content/drive/Shared drives/algo-clenow/idx_exported_csv_gama'

tickers = os.listdir(csv_loc)

for ticker in tickers:
    if len(ticker) != 8:
        print(f'ticker')

In [3]:
"""
Create a dictionary where the key is the ticker
and the value is a pandas dataframe of the OHLC time series
"""
data_idx = {}
for ticker in tickers:
    data_idx[ticker[:-4]] = pd.read_csv(f'{csv_loc}/{ticker}',
                                        index_col='date',
                                        parse_dates=['date'])

In [4]:
data_idx['ASII'].tail()

              open    high     low   close    volume
date
2021-01-25  6650.0  6650.0  6325.0  6475.0  73391696
2021-01-26  6475.0  6575.0  6300.0  6350.0  39158300
2021-01-27  6350.0  6350.0  6150.0  6275.0  56444100
2021-01-28  6150.0  6450.0  6150.0  6275.0  54596400
2021-01-29  6300.0  6375.0  5950.0  6100.0  71886200

### Stocks on the Move

In [5]:
def momentum_score(ts):
    """
    Input:  Price time series.
    Output: Annualized exponential regression slope, 
            multiplied by the R2
    """
    # Make a list of consecutive numbers
    x = np.arange(len(ts)) 
    # Get logs
    log_ts = np.log(ts) 
    # Calculate regression values
    slope, intercept, r_value, p_value, std_err = stats.linregress(x, log_ts)
    # Annualize percent
    annualized_slope = (np.power(np.exp(slope), 252) - 1) * 100
    #Adjust for fitness
    score = annualized_slope * (r_value ** 2)
    return score

In [6]:
def volatility(ts, period=24):
    """
    Input:  Price time series, Look back period
    Output: Standard deviation of the percent change
    """
    return ts.pct_change().rolling(period).std().iloc[-1]

In [18]:
# How many (series) candles back for momentum calculation?
momentum_window = 96

# Create an empty DataFrame to store score
momentum_table = pd.DataFrame(columns=['ticker', 'score', 'vola', 'inv_vola'])

# Eliminated stocks list
eliminated_stocks = pd.DataFrame(columns=['ticker', 'score', 'vola', 'reason'])

# How many (series) candles+1 back for std dev calculation?
vola_window = 24

# How many (series) candles back for EWMA calculation?
ma_period_fast = 32
ma_period_slow = 128

# Loop the dictionary and calculate the momentum_score, then append it to pandas
for ticker, timeseries in data_idx.items():
    momentum_series = timeseries['close'].iloc[-momentum_window:]
    score = momentum_score(momentum_series)
    vola_series = timeseries['close']
    vola = volatility(vola_series, vola_window) * 16
    median_volume = timeseries['volume'].rolling(vola_window).median().iloc[-1]
    ma_fast = timeseries['close'].rolling(ma_period_fast).mean().iloc[-1]
    ma_slow = timeseries['close'].rolling(ma_period_slow).mean().iloc[-1]

#     ewma = timeseries['close'].ewm(span=ewma_period).mean().iloc[-1]

    # Need the stocks to exist at least 3 years prior (756 trading days)
    if len(timeseries) < 756:
        eliminated_stocks = eliminated_stocks.append({'ticker': ticker,
                                                      'score': score,
                                                      'vola': vola,
                                                      'reason': 'umur belum 3 tahun'},
                                                     ignore_index=True)
        continue
    
    # If median volume falls below 100k in the stocks, drop it 
    if median_volume < 100000:
        eliminated_stocks = eliminated_stocks.append({'ticker': ticker,
                                                      'score': score,
                                                      'vola': vola,
                                                      'reason': 'avg volume di bawah 100k'},
                                                     ignore_index=True)
        continue
        
    # If it has been suspended (daily vol == 0) more than once, drop it
    if timeseries['volume'].iloc[-momentum_window:].tolist().count(0) > 1:
        eliminated_stocks = eliminated_stocks.append({'ticker': ticker,
                                                      'score': score,
                                                      'vola': vola,
                                                      'reason': 'pernah disuspend lebih dari 1x'},
                                                     ignore_index=True)
        continue
    
    momentum_table = momentum_table.append({'ticker': ticker,
                                            'score': score,
                                            'vola': vola,
                                            'median_vol': median_volume,
                                            'ma_fast': ma_fast,
                                            'ma_slow': ma_slow},
                                           ignore_index=True)
    
    momentum_table['inv_vola'] = 1 / momentum_table['vola']

/home/nikki/miniconda3/envs/anaconda/lib/python3.8/site-packages/pandas/core/series.py:679: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/home/nikki/miniconda3/envs/anaconda/lib/python3.8/site-packages/numpy/lib/function_base.py:2449: RuntimeWarning: invalid value encountered in subtract
  X -= avg[:, None]

In [19]:
print(f'Ada {len(momentum_table)} saham lolos')
print(f'Ada {len(eliminated_stocks)} saham tereliminasi')

Ada 261 saham lolos
Ada 458 saham tereliminasi

In [20]:
momentum_table.sort_values('score', ascending=False)[:50].to_clipboard()

In [16]:
momentum_table.sort_values('score', ascending=False)[:50]

    ticker        score      vola  inv_vola           ma   median_vol
214   BBHI  2853.426633  1.759296  0.568409   222.203125    3899450.0
163   SAME  2841.954346  0.886679  1.127804   159.335938  105598800.0
189   ANTM  2341.379244  1.020847  0.979579  1117.421875  713320256.0
195   WSKT  2118.031042  0.894024  1.118538   865.609375  216926152.0
152   ASRI  1447.780909  0.596036  1.677751   164.812500  219027848.0
129   BAJA  1301.954478  0.461714  2.165842    87.757812    4321250.0
177   AGII  1205.752872  1.007247  0.992805   681.750000    1844450.0
87    SQMI  1183.548869  0.523294  1.910972   226.179688    8026400.0
29    HRUM  1150.053679  0.838282  1.192916  2027.617188    7383350.0
8     TGRA  1128.547551  1.675885  0.596700   106.593750   64526750.0
28    ENRG  1127.359875  1.289387  0.775562    68.656250  257662448.0
41    BNLI  1059.640057  0.672826  1.486268  1892.656250    1350800.0
105   TINS  1028.648125  0.899630  1.111568   973.125000  119365096.0
89    SMBR   959.656091  0.579785  1.724778   666.664062   50875550.0
76    RAJA   959.640873  1.212417  0.824799   155.242188   55721350.0
54    PPRO   948.306107  0.525468  1.903065    64.945312  635845792.0
19    PTPP   877.016008  0.641472  1.558915  1157.109375   78057600.0
144   MCAS   827.480606  0.737333  1.356239  2378.437500    2525200.0
91    GMFI   770.481466  0.565726  1.767640    99.218750   70197452.0
203   IMAS   751.432474  0.756766  1.321412   880.882812   27597650.0
253   NIKL   750.069392  1.058035  0.945149   960.531250    9617150.0
231   GDST   708.945484  0.812148  1.231302    76.968750   22102650.0
188   DKFT   689.004085  0.946084  1.056989   146.289062  179307304.0
49    BBKP   639.977745  1.283963  0.778839   296.367188  479871360.0
212   SCMA   623.798222  0.653867  1.529364  1477.929688   18148550.0
114   BVIC   602.836990  0.781217  1.280054    87.320312    3263750.0
192   INDY   588.494703  0.720756  1.387431  1185.859375   50363250.0
200   APLN   571.496913  0.741582  1.348469   132.921875  172922400.0
198   SOCI   563.405782  1.394188  0.717263   152.789062   47026000.0
227   GIAA   562.792904  0.369568  2.705859   299.453125  145734400.0
100   WSBP   525.476493  0.642809  1.555673   195.937500  429321696.0
108   META   502.670763  0.802566  1.246003   128.625000   50278200.0
39    PPRE   477.512015  0.438065  2.282765   199.492188   23961650.0
246   PNBS   476.939648  0.826272  1.210255    60.695312   96182048.0
239   WIKA   433.009244  0.574148  1.741710  1407.109375   59360050.0
222   BSDE   431.789252  0.576214  1.735467   899.335938   55944000.0
204   ITMG   426.151046  0.425499  2.350181  9776.953125    6562050.0
151   BJBR   419.194589  0.614646  1.626953  1151.757812   33397200.0
153   ELSA   403.515801  0.662300  1.509891   265.710938  193208296.0
156   LPCK   394.041624  0.375553  2.662740   999.843750    3179000.0
205   PANR   388.818631  0.351425  2.845556   109.421875    1448750.0
160   WIIM   387.749795  0.373164  2.679787   411.570312   20370800.0
159   WTON   339.696050  0.510680  1.958172   299.812500   58985350.0
130   ADMG   328.682693  1.520458  0.657697   139.476562   10981350.0
184   TKIM   321.635567  0.748336  1.336299  7503.710938   13230450.0
6     LPKR   315.672032  0.512221  1.952284   160.437500  136771800.0
240   BTON   314.362142  0.898501  1.112964   208.273438     225500.0
85    HOKI   271.436585  0.513743  1.946498   827.812500   32333500.0
201   WOOD   270.170932  0.496682  2.013362   468.109375   22601650.0
207   ASJT   264.043009  1.584952  0.630934   132.437500     538000.0

In [13]:
eliminated_stocks[eliminated_stocks['reason'] == 'umur belum 3 tahun'].sort_values('score', ascending=False)

    ticker        score          vola              reason
40    BRIS  3815.691907  9.371545e-01  umur belum 3 tahun
82    DMMX  1200.297792  6.199791e-01  umur belum 3 tahun
44    CBMF   601.234993  3.262737e-01  umur belum 3 tahun
171   SAPX   529.212255  3.554760e-01  umur belum 3 tahun
43    INDO   466.787826  4.488161e-01  umur belum 3 tahun
..     ...          ...           ...                 ...
83    KBAG   -85.764465  1.415350e+00  umur belum 3 tahun
0     ITIC   -90.342123  4.416746e-01  umur belum 3 tahun
172   HRME   -91.511054  5.381667e-09  umur belum 3 tahun
209   ARKA   -92.140816  5.981414e-01  umur belum 3 tahun
390   DADA   -93.212783  4.965383e-01  umur belum 3 tahun

[155 rows x 4 columns]

In [14]:
eliminated_stocks[eliminated_stocks['reason'] == 'pernah disuspend lebih dari 1x'].sort_values('score', ascending=False)

    ticker       score      vola                          reason
163   TIFA  779.395081  0.305628  pernah disuspend lebih dari 1x
261   INCI  272.108060  0.410409  pernah disuspend lebih dari 1x
128   RANC  100.071218  0.348120  pernah disuspend lebih dari 1x
39    RMBA   74.438505  1.595118  pernah disuspend lebih dari 1x
307   RUIS   42.147570  0.923970  pernah disuspend lebih dari 1x
488   BIPP   39.918142  0.606751  pernah disuspend lebih dari 1x
109   WINS   35.294318  0.213005  pernah disuspend lebih dari 1x
60    LPPS   15.956782  0.699902  pernah disuspend lebih dari 1x
218   GWSA   13.444831  0.528288  pernah disuspend lebih dari 1x
34    AISA    8.955749  1.638821  pernah disuspend lebih dari 1x
27    APIC    7.070616  0.460182  pernah disuspend lebih dari 1x
238   TURI    2.579806  0.414931  pernah disuspend lebih dari 1x
432   BCIP    0.004947  0.132146  pernah disuspend lebih dari 1x
401   NIRO   -3.332837  1.043941  pernah disuspend lebih dari 1x
76    BOGA  -10.360907  0.209374  pernah disuspend lebih dari 1x
16    SAME  -15.879911  0.790366  pernah disuspend lebih dari 1x
325   AMAG  -40.093613  0.210068  pernah disuspend lebih dari 1x
31    MDLN  -40.448423  0.854363  pernah disuspend lebih dari 1x
35    DPUM  -40.457237  1.619635  pernah disuspend lebih dari 1x
431   CMNP  -47.291896  0.603427  pernah disuspend lebih dari 1x
398   CASS  -55.954447  0.575730  pernah disuspend lebih dari 1x
226   TAMU  -70.698999  0.686018  pernah disuspend lebih dari 1x

In [15]:
eliminated_stocks[eliminated_stocks['reason'] == 'avg volume di bawah 100k'].sort_values('score', ascending=False)

    ticker       score          vola                    reason
77    ARGO  489.785755  1.123822e+00  avg volume di bawah 100k
159   PTIS  358.443206  9.486231e-01  avg volume di bawah 100k
408   BBHI  323.138029  5.734052e-01  avg volume di bawah 100k
436   MERK  306.264092  4.505298e-01  avg volume di bawah 100k
358   PNSE  165.606997  3.973270e-07  avg volume di bawah 100k
..     ...         ...           ...                       ...
70    PGLI  -66.517070  1.117693e+00  avg volume di bawah 100k
377   NASA  -68.554597  2.249972e-08  avg volume di bawah 100k
419   TARA  -71.126410  3.709058e-08  avg volume di bawah 100k
373   GLOB  -79.339016  5.216332e-01  avg volume di bawah 100k
26    MARI  -85.686349  0.000000e+00  avg volume di bawah 100k

[327 rows x 4 columns]