## Mount Google Drive

In [ ]:
from google.colab import drive

# Make sure to unmount drive at mount point
drive.flush_and_unmount()
drive.mount('/content/drive')

# Research Start

In [1]:
from datetime import datetime
from scipy import stats  
import os
import pytz
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np  

%matplotlib inline

### Creating IDX Equities Time Series

In [7]:
idx_combined = pd.read_csv('/home/nikki/documents/amibroker/idx_exported_combined.csv', parse_dates=[1])

In [2]:
# Location of the IDX Stocks OHLC csv files
# csv_loc = '/content/drive/Shared drives/algo-clenow/idx_exported_csv'
# csv_loc = '/Users/nikki/Documents/idx_exported_csv'
csv_loc = '/home/nikki/documents/amibroker/exported-csv/'

# Backup if the first one doesn't work
# csv_loc = '/content/drive/Shared drives/algo-clenow/idx_exported_csv_gama'

tickers = os.listdir(csv_loc)

In [3]:
"""
Create a dictionary where the key is the ticker
and the value is a pandas dataframe of the OHLC time series
"""
data_idx = {}
for ticker in tickers:
    data_idx[ticker[:-4]] = pd.read_csv(f'{csv_loc}/{ticker}',
                                        index_col='date',
                                        parse_dates=['date'])

In [4]:
data_idx['ASII'].tail()

              open    high     low   close    volume
date
2020-08-31  5325.0  5350.0  5100.0  5100.0  42240600
2020-09-01  5175.0  5250.0  5100.0  5250.0  20881000
2020-09-02  5300.0  5350.0  5200.0  5300.0  19074500
2020-09-03  5350.0  5350.0  5125.0  5175.0  38323300
2020-09-04  5100.0  5150.0  5025.0  5050.0  47966200

### Stocks on the Move

In [5]:
def momentum_score(ts):
    """
    Input:  Price time series.
    Output: Annualized exponential regression slope, 
            multiplied by the R2
    """
    # Make a list of consecutive numbers
    x = np.arange(len(ts)) 
    # Get logs
    log_ts = np.log(ts) 
    # Calculate regression values
    slope, intercept, r_value, p_value, std_err = stats.linregress(x, log_ts)
    # Annualize percent
    annualized_slope = (np.power(np.exp(slope), 252) - 1) * 100
    #Adjust for fitness
    score = annualized_slope * (r_value ** 2)
    return score

In [6]:
def volatility(ts, period=20):
    """
    Input:  Price time series, Look back period
    Output: Standard deviation of the percent change
    """
    return ts.pct_change().rolling(period).std().iloc[-1]

In [12]:
# How many (series) candles back for momentum calculation?
momentum_window = 96

# Create an empty DataFrame to store score
momentum_table = pd.DataFrame(columns=['ticker', 'score', 'vola', 'inv_vola'])

# How many (series) candles back for std dev calculation?
vola_window = 20

# Loop the dictionary and calculate the momentum_score, then append it to pandas
for ticker, timeseries in data_idx.items():
    # Need the stocks to exist at least 3 years prior (756 trading days)
    if len(timeseries) < 756:
        continue
        
    # If there's a 0 volume in the stocks, drop it 
    if 0 in timeseries['volume'].iloc[-momentum_window:].tolist():
        continue

    momentum_series = timeseries['close'].iloc[-momentum_window:]
    score = momentum_score(momentum_series)
    vola_series = timeseries['close']
    vola = volatility(vola_series, vola_window)
    avg_volume = timeseries['volume'].rolling(vola_window).mean().iloc[-1] / 100
    
    if avg_volume < 500:
        continue

    momentum_table = momentum_table.append({'ticker': ticker,
                                            'score': score,
                                            'vola': vola,
                                            'avg_vol': avg_volume},
                                           ignore_index=True)
    
    momentum_table['inv_vola'] = 1 / momentum_table['vola']

In [13]:
momentum_table.sort_values('score', ascending=False)[:100].to_clipboard()

In [9]:
momentum_table[momentum_table['ticker'] == 'AKSI']

   ticker     score      vola   inv_vola  avg_vol
12   AKSI -0.002968  0.047425  21.086041   825.55

In [9]:
momentum_table.sort_values('score', ascending=False)[:30]

    ticker        score      vola   inv_vola      avg_vol
14    WIIM  4162.671908  0.042206  23.693526   668082.750
188   AGRO  3288.260306  0.048225  20.736251  1839095.276
122   CENT  2487.975376  0.060895  16.421704   258450.198
32    MARK  2356.605924  0.027323  36.598694    72904.000
86    KRAS  1540.047676  0.022295  44.853335   917795.208
141   DOID  1025.617685  0.044359  22.543477  1317032.332
79    NIKL   904.989937  0.038694  25.843524   104038.850
145   SMDR   799.552955  0.038892  25.712239   146819.548
108   IMJS   719.663460  0.074958  13.340731   462929.852
85    SMBR   617.603444  0.051120  19.561909   567661.692
151   INKP   555.488536  0.036157  27.657336   107077.150
126   BBKP   509.845593  0.079597  12.563247  5173724.762
187   MERK   494.242887  0.015377  65.032148     1983.400
160   BULL   456.219290  0.028304  35.330181  2130033.480
1     BBTN   454.821019  0.019118  52.306570   569253.846
186   ASSA   454.326698  0.036075  27.720377   134038.850
31    TINS   400.515311  0.027014  37.018322   358820.348
3     AALI   381.652902  0.018197  54.955260    28042.950
182   PGAS   322.505482  0.022177  45.091621   999135.800
144   ANTM   317.979510  0.034334  29.125377  1596314.296
62    GJTL   307.388763  0.040566  24.651298    81166.250
17    SCMA   295.950080  0.021351  46.835401   201730.750
216   SIMP   283.876815  0.027523  36.333122   162885.850
183   TBLA   280.388032  0.016389  61.015855    70209.450
112   EKAD   262.232555  0.014062  71.116082     6305.600
61    MMLP   244.575371  0.062401  16.025465   240385.754
155   IMAS   242.883443  0.088730  11.270187   325850.254
84    BWPT   238.387560  0.025329  39.479998  1247160.496
43    PTPP   232.889520  0.023876  41.883064   477937.748
114   HEXA   228.812106  0.010229  97.765000     2125.350

In [10]:
momentum_table.sort_values('score', ascending=False)[30:50]

    ticker       score      vola   inv_vola      avg_vol
21    PTRO  225.927561  0.018699  53.478241    14820.300
109   BNII  211.639909  0.039131  25.555319   195759.398
165   INCO  205.520434  0.019923  50.193673   144604.250
52    MDKA  205.463693  0.031363  31.884485  1375980.348
89    TKIM  197.257865  0.021971  45.515323   132050.600
217   ADES  194.964266  0.028279  35.361699     2382.450
67    BMRI  186.295963  0.021418  46.688772   506511.100
54    LSIP  179.183145  0.018393  54.368642   453676.756
201   CPIN  174.288533  0.012622  79.224323    89611.150
35    ERAA  171.742505  0.025366  39.422616   223138.950
5     UNTR  168.497045  0.031420  31.827262    63549.900
190   MTDL  162.919626  0.025180  39.714581    33723.000
177   ASII  152.532015  0.020779  48.124560   295608.200
164   WOOD  152.463004  0.019872  50.321129   520504.998
172   DMAS  148.589975  0.033622  29.742278   563313.198
28    PTSN  143.798307  0.047431  21.083044   112830.800
8     AKSI  140.476955  0.047425  21.086041      825.550
133   SRIL  138.181269  0.039161  25.535368   570434.744
135   IGAR  136.899295  0.032058  31.193943     3500.100
175   INDY  135.478758  0.038927  25.688839   241266.150

In [11]:
momentum_table.sort_values('score', ascending=False)[50:100]

    ticker       score      vola    inv_vola      avg_vol
149   AKRA  131.638805  0.020255   49.370590   226404.800
208   IPOL  122.141408  0.080315   12.451013     9537.500
150   CEKA  118.632404  0.020238   49.410884     2032.750
210   DKFT  117.621931  0.034017   29.397030   125445.700
87    LPCK  111.867498  0.037177   26.898226    21642.450
113   DSNG  107.900255  0.034090   29.334298    82069.450
25    MBSS  107.281962  0.017006   58.801080    16421.150
4     SMGR  105.445006  0.023827   41.969618    65510.800
178   SDPC  105.347025  0.043572   22.950388     3493.850
204   BTPN  103.324598  0.015763   63.439793     1545.400
158   BBNI  101.349408  0.022713   44.026812   745957.748
176   MBAP  100.189583  0.087994   11.364420    13110.200
170   PANR   99.509678  0.051571   19.390677    47436.100
185   MCOR   94.447545  0.036075   27.719884   147324.450
154   RAJA   93.950124  0.054203   18.449028   539212.198
92    KLBF   88.380537  0.011997   83.354371   382076.100
173   BBRI   88.321685  0.024854   40.235579  1784235.284
124   SMRA   84.398616  0.028966   34.523201   779872.806
157   ADMF   83.787421  0.009886  101.157378     1251.400
156   TOWR   79.965707  0.022590   44.266752  2684549.104
191   BBCA   79.896802  0.018144   55.114011   116576.850
38    BNGA   79.564496  0.019402   51.541388    95921.000
161   PBRX   77.868157  0.023311   42.898619    10407.800
104   ACES   75.404243  0.015839   63.135171   160192.350
131   JSMR   74.085471  0.015474   64.623302    80606.650
206   ELSA   72.165957  0.025363   39.428289   732026.802
59    CTRA   71.178705  0.026782   37.338562   458054.848
26    AGII   71.046824  0.015950   62.695733     4087.500
47    FPNI   68.946219  0.094922   10.534914   130055.700
120   PSAB   65.831769  0.040105   24.934493  1042279.508
82    IMPC   64.812786  0.008592  116.387935     6039.400
125   KINO   64.735805  0.009628  103.862203     2941.900
90    OKAS   63.982135  0.029349   34.072543    36480.900
118   MLPT   62.723002  0.016618   60.174322     3053.800
73    ULTJ   60.971027  0.021908   45.646163    17581.050
93    UNSP   59.370342  0.090122   11.096080    52540.950
9     WOMF   56.398387  0.057346   17.437935    31492.750
19    ISAT   56.048783  0.019498   51.287161    54609.900
121   TBIG   55.241986  0.022104   45.240967   495579.254
148   TSPC   51.487309  0.010173   98.295899     4508.300
166   AGRS   50.561187  0.040153   24.904996     1305.450
107   GIAA   47.688597  0.024359   41.052299   460198.752
213   WIKA   46.979564  0.029829   33.524863   282356.300
49    CLEO   46.276698  0.017300   57.804026   101050.050
23    JPFA   39.518231  0.025865   38.662592   401618.700
65    WTON   39.324574  0.017742   56.363270   125549.100
71    BJBR   38.338628  0.031832   31.415064   209191.448
163   MIKA   37.792948  0.017487   57.185873   241722.250
27    META   37.612379  0.012316   81.196827     3837.700
128   BNBA   37.233461  0.011669   85.699992     2572.550