## Mount Google Drive

In [ ]:
from google.colab import drive

# Make sure to unmount drive at mount point
drive.flush_and_unmount()
drive.mount('/content/drive')

# Research Start

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import os
import pytz
import pandas as pd

from datetime import datetime
from pathlib import Path
from scipy import stats

%matplotlib inline

### Creating IDX Equities Time Series

In [2]:
csv_combined = Path.home() / Path('Documents/data-ab/idx_exported_combined.csv') # csv file Path
# csv_combined = Path('/mnt/c/Users/nikki/Documents/data-ab/idx_exported_combined.csv') # WSL Path

# idx_combined = pd.read_csv(csv_combined, parse_dates={'Date' : [1]})

In [2]:
csv_loc = Path.home() / Path('Documents/data-ab/idx_exported_csv') # csv folder Path
# csv_loc = Path(r'/content/drive/Shared drives/algo-clenow/idx_exported_csv') # Google Colab Path
# csv_loc = Path('/mnt/c/Users/nikki/Documents/data-ab/idx_exported_csv') # WSL Path

# IDX stocks' ticker always have 4 characters
files = list(csv_loc.glob('????.csv'))

In [3]:
"""
Create a dictionary where the key is the ticker
and the value is a pandas dataframe of the OHLC time series
"""
data_idx = {}
for file in files:
    data_idx[file.stem] = pd.read_csv(file,
                                      index_col='Date',
                                      parse_dates=True)
    # data_idx[file.stem] = data_idx[file.stem].tz_localize(tz='Asia/Jakarta')

In [4]:
data_idx['ASII'].tail()

              Open    High     Low   Close    Volume
Date
2021-07-22  4930.0  5025.0  4900.0  4980.0  36287300
2021-07-23  5000.0  5000.0  4910.0  4950.0  26847700
2021-07-26  4950.0  4970.0  4770.0  4770.0  43373400
2021-07-27  4770.0  4830.0  4730.0  4760.0  42635500
2021-07-28  4780.0  4790.0  4710.0  4710.0  24083000

### Stocks on the Move

In [5]:
def momentum_score(ts):
    """
    Input:  Price time series.
    Output: Annualized exponential regression slope, 
            multiplied by the R2
    """
    # Make a list of consecutive numbers
    x = np.arange(len(ts)) 
    # Get logs
    log_ts = np.log(ts) 
    # Calculate regression values
    slope, intercept, r_value, p_value, std_err = stats.linregress(x, log_ts)
    # Annualize percent
    annualized_slope = (np.power(np.exp(slope), 252) - 1) * 100
    #Adjust for fitness
    score = annualized_slope * (r_value ** 2)
    return score

In [6]:
def volatility(ts, period=24):
    """
    Input:  Price time series, Look back period
    Output: Standard deviation of the percent change
    """
    return ts.pct_change().rolling(period).std().iloc[-1]

In [7]:
# How many (series) candles back for momentum calculation?
momentum_window = 96

# Create an empty DataFrame to store score
momentum_table = pd.DataFrame(columns=['ticker', 'score', 'vola', 'inv_vola'])

# Eliminated stocks list
eliminated_stocks = pd.DataFrame(columns=['ticker', 'score', 'vola', 'reason'])

# How many (series) candles+1 back for std dev calculation?
vola_window = 24

# How many (series) candles back for EWMA calculation?
ma_period_fast = 32
ma_period_slow = 128

# Loop the dictionary and calculate the momentum_score, then append it to pandas
for ticker, timeseries in data_idx.items():
    momentum_series = timeseries['Close'].iloc[-momentum_window:]
    score = momentum_score(momentum_series)
    vola_series = timeseries['Close']
    vola = volatility(vola_series, vola_window) * 16
    median_volume = timeseries['Volume'].rolling(vola_window).median().iloc[-1]
    ma_fast = timeseries['Close'].rolling(ma_period_fast).mean().iloc[-1]
    ma_slow = timeseries['Close'].rolling(ma_period_slow).mean().iloc[-1]

#     ewma = timeseries['Close'].ewm(span=ewma_period).mean().iloc[-1]

    # Need the stocks to exist at least 3 years prior (756 trading days)
    if len(timeseries) < 756:
        eliminated_stocks = eliminated_stocks.append({'ticker': ticker,
                                                      'score': score,
                                                      'vola': vola,
                                                      'reason': 'umur belum 3 tahun'},
                                                     ignore_index=True)
        continue
    
    # If median volume falls below 100k in the stocks, drop it 
    if median_volume < 100000:
        eliminated_stocks = eliminated_stocks.append({'ticker': ticker,
                                                      'score': score,
                                                      'vola': vola,
                                                      'reason': 'avg volume di bawah 100k'},
                                                     ignore_index=True)
        continue
        
    # If it has been suspended (daily vol == 0) more than once, drop it
    if timeseries['Volume'].iloc[-momentum_window:].tolist().count(0) > 1:
        eliminated_stocks = eliminated_stocks.append({'ticker': ticker,
                                                      'score': score,
                                                      'vola': vola,
                                                      'reason': 'pernah disuspend lebih dari 1x'},
                                                     ignore_index=True)
        continue
    
    momentum_table = momentum_table.append({'ticker': ticker,
                                            'score': score,
                                            'vola': vola,
                                            'median_vol': median_volume,
                                            'ma_fast': ma_fast,
                                            'ma_slow': ma_slow},
                                           ignore_index=True)
    
    momentum_table['inv_vola'] = 1 / momentum_table['vola']

In [8]:
print(f'Ada {len(momentum_table)} saham lolos')
print(f'Ada {len(eliminated_stocks)} saham tereliminasi')

Ada 307 saham lolos
Ada 423 saham tereliminasi

In [9]:
momentum_table.sort_values('score', ascending=False)[:50].to_clipboard()

In [10]:
momentum_table.sort_values('score', ascending=False)[:50]

,ticker,score,vola,inv_vola,ma_fast,ma_slow,median_vol
166,LPLI,1952.319074,1.426088,0.701219,319.56250,184.367188,4.335000e+05
31,BAJA,1220.175400,0.956315,1.045681,333.75000,244.257812,4.371100e+06
224,PRIM,985.018563,1.625161,0.615324,376.15625,246.398438,8.425950e+06
255,SMDR,947.693694,0.778303,1.284847,583.59375,401.812500,7.533500e+06
278,TMAS,762.154630,1.392418,0.718175,289.06250,203.742188,8.939300e+06
57,BMSR,674.862326,0.894548,1.117883,198.37500,136.757812,1.689350e+06
177,MCAS,650.775895,0.550582,1.816261,7921.09375,5716.445312,4.077500e+05
191,MRAT,594.288320,0.764561,1.307940,383.06250,252.328125,1.469200e+06
116,HERO,588.032372,0.777812,1.285657,1585.15625,1148.945312,1.423500e+05
22,ARII,541.952250,1.106967,0.903369,296.37500,229.257812,4.059000e+05
48,BIMA,510.754887,2.195100,0.455560,95.71875,66.859375,4.327000e+06
187,MMLP,507.816499,0.911554,1.097027,631.59375,434.023438,5.383110e+07
204,PALM,469.145841,0.598257,1.671522,532.06250,391.914062,1.143350e+06
250,SILO,466.376646,0.749893,1.333524,9088.28125,7034.414062,5.115500e+05
275,TIRA,441.109555,1.750579,0.571239,485.43750,318.765625,1.426000e+05
70,BUDI,414.141787,0.806442,1.240015,178.15625,140.101562,1.277365e+07
266,SRTG,393.381449,0.612612,1.632354,1771.87500,1295.750000,1.755160e+07
154,KIOS,354.057439,1.244699,0.803407,941.25000,739.296875,5.379650e+07
200,NOBU,351.900580,1.433842,0.697427,1371.56250,971.054688,3.563350e+06
223,PRDA,331.145315,1.282134,0.779950,6173.59375,4394.492188,5.605200e+06
244,SAME,292.419494,0.709693,1.409060,603.12500,436.804688,5.535985e+07
271,TBIG,288.880950,0.400471,2.497058,3203.12500,2560.664062,3.608915e+07
186,MLIA,287.760735,0.652469,1.532640,1012.18750,820.507812,7.333850e+06
197,NELY,257.990854,0.295363,3.385666,214.12500,175.234375,6.082500e+05
237,RANC,257.409457,0.634142,1.576935,747.81250,587.750000,5.234000e+05
164,LPIN,246.248472,1.387685,0.720625,371.81250,289.125000,1.385000e+05
24,ARTO,237.379367,0.519083,1.926473,14550.78125,10626.398438,1.471325e+07
160,KREN,228.897387,0.837633,1.193840,131.00000,107.609375,3.608435e+07
10,AGRO,228.802773,0.914563,1.093418,1868.43750,1256.250000,1.434010e+08
176,MBTO,221.974068,0.697208,1.434292,160.84375,125.867188,2.202850e+06
12,AIMS,211.684715,1.332886,0.750251,409.50000,318.710938,1.483500e+05
46,BHIT,200.547514,0.800877,1.248631,91.21875,67.929688,5.120670e+08
216,PNBS,198.856417,0.740612,1.350234,142.37500,113.343750,2.133312e+08
167,LPPF,186.183681,0.904553,1.105518,2028.12500,1628.789062,5.025670e+07
295,WAPO,174.742226,0.528346,1.892701,107.65625,88.187500,1.427750e+06
47,BIKA,173.387678,1.398753,0.714923,256.84375,187.250000,2.237500e+05
242,RODA,169.093536,0.744882,1.342495,87.40625,71.187500,6.884850e+06
28,ASSA,167.270890,0.584008,1.712304,2244.75000,1723.242188,1.635600e+07
149,KARW,155.326534,0.764505,1.308036,106.62500,91.164062,4.156700e+06
226,PSDN,146.891893,1.070427,0.934207,207.15625,163.609375,8.197500e+05
264,SRAJ,143.185511,1.988456,0.502903,313.71875,208.718750,4.385700e+06
107,FREN,133.327466,0.592161,1.688730,117.25000,87.695312,1.158936e+09
193,MTDL,131.864788,1.059590,0.943761,2170.00000,1765.429688,7.206350e+06
162,LMPI,129.443919,0.465465,2.148391,174.03125,142.578125,5.828500e+05
141,JAWA,127.581847,0.997168,1.002840,120.53125,103.507812,2.096800e+06
18,AMRT,127.315834,0.489559,2.042655,1269.37500,999.062500,4.528905e+07
161,LINK,115.231226,0.290951,3.437006,4316.25000,3716.562500,2.207000e+06
140,ITMG,113.722912,0.537475,1.860552,14968.75000,13080.078125,2.434200e+06
4,ADES,106.928237,0.838609,1.192451,2187.65625,1833.867188,1.561500e+05
231,PTSN,103.097876,1.137036,0.879479,265.93750,218.695312,1.270600e+07

In [11]:
eliminated_stocks[eliminated_stocks['reason'] == 'umur belum 3 tahun'].sort_values('score', ascending=False)

    ticker         score          vola              reason
109   DCII  29470.006344  8.610667e-08  umur belum 3 tahun
118   DMMX  23844.394842  5.324636e-01  umur belum 3 tahun
384   TFAS   6652.140124  4.977920e-01  umur belum 3 tahun
167   HDIT   6563.154369  1.252974e+00  umur belum 3 tahun
282   NFCX   5453.030792  6.492168e-01  umur belum 3 tahun
..     ...           ...           ...                 ...
110   DEAL    -73.796628  5.977582e-01  umur belum 3 tahun
124   DUCK    -85.330336  8.992857e-01  umur belum 3 tahun
84    CBMF    -89.938252  7.834523e-01  umur belum 3 tahun
227   KOTA    -95.546417  1.240815e+00  umur belum 3 tahun
394   TOYS    -98.436247  4.998377e-01  umur belum 3 tahun

[145 rows x 4 columns]

In [12]:
eliminated_stocks[eliminated_stocks['reason'] == 'pernah disuspend lebih dari 1x'].sort_values('score', ascending=False)

    ticker         score      vola                          reason
265   MLPL  61878.210997  0.539081  pernah disuspend lebih dari 1x
35    BABP   7981.151556  0.888874  pernah disuspend lebih dari 1x
266   MLPT   6457.865468  0.877397  pernah disuspend lebih dari 1x
268   MPPA   5609.749921  0.499141  pernah disuspend lebih dari 1x
53    BINA   4676.555560  0.588291  pernah disuspend lebih dari 1x
41    BBHI   2550.791236  1.883436  pernah disuspend lebih dari 1x
421   ZBRA   2092.972874  0.407384  pernah disuspend lebih dari 1x
271   MSIN    975.376511  1.917520  pernah disuspend lebih dari 1x
215   KBLV    810.747036  1.190922  pernah disuspend lebih dari 1x
197   INTD    663.055877  0.442893  pernah disuspend lebih dari 1x
32    ATIC    423.353034  0.567150  pernah disuspend lebih dari 1x
166   HDFA    178.119163  1.784227  pernah disuspend lebih dari 1x
0     ABBA    174.138747  1.219174  pernah disuspend lebih dari 1x
261   MITI    159.131334  2.102908  pernah disuspend lebih dari 1x
247   MARI    130.601490  0.634227  pernah disuspend lebih dari 1x
295   PEGE     94.855239  0.730670  pernah disuspend lebih dari 1x
315   PRAS     35.821037  0.594563  pernah disuspend lebih dari 1x
59    BMAS     18.334757  1.015187  pernah disuspend lebih dari 1x
51    BGTG     -0.001904  1.377465  pernah disuspend lebih dari 1x
76    BUVA     -5.026648  0.276102  pernah disuspend lebih dari 1x
280   NASA     -5.028975  1.693012  pernah disuspend lebih dari 1x
3     AGRS    -20.814040  1.513798  pernah disuspend lebih dari 1x
55    BKSW    -23.526043  0.678017  pernah disuspend lebih dari 1x
192   INPC    -25.512506  0.700543  pernah disuspend lebih dari 1x
77    BVIC    -26.286723  0.477967  pernah disuspend lebih dari 1x
60    BNBA    -26.816744  1.243300  pernah disuspend lebih dari 1x
288   OASA    -47.196984  1.108644  pernah disuspend lebih dari 1x
179   IDPR    -79.598029  0.375287  pernah disuspend lebih dari 1x

In [13]:
eliminated_stocks[eliminated_stocks['reason'] == 'avg volume di bawah 100k'].sort_values('score', ascending=False)

    ticker        score      vola                    reason
225   KONI  3726.748860  1.172846  avg volume di bawah 100k
238   LMAS  2125.657043  0.565867  avg volume di bawah 100k
370   SUPR   461.327744  0.085536  avg volume di bawah 100k
290   OMRE   416.376545  1.533849  avg volume di bawah 100k
23    ARTA   396.134237  1.075977  avg volume di bawah 100k
..     ...          ...       ...                       ...
365   SRIL   -56.895392  0.000000  avg volume di bawah 100k
28    ASMI   -68.301582  0.770503  avg volume di bawah 100k
208   JKON   -69.782138  0.218358  avg volume di bawah 100k
155   GIAA   -71.862572  0.000000  avg volume di bawah 100k
6     AKSI   -72.091188  0.716778  avg volume di bawah 100k

[250 rows x 4 columns]