# Research Start

In [1]:
from datetime import datetime
from scipy import stats
import backtrader as bt
# import yfinance_ez as yf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
import matplotlib.ticker as ticker
import os
import quandl

%matplotlib inline
quandl.read_key()

### Creating Futures Time Series

In [2]:
quandl.get("EUREX/FDAXH2019")

,Open,High,Low,Settle,Volume,Prev. Day Open Interest
Date,,,,,,
2018-06-18,0.0,0.0,0.0,12803.50,0.0,0.0
2018-06-19,0.0,0.0,0.0,12651.00,1.0,1.0
2018-06-20,0.0,0.0,0.0,12666.50,0.0,1.0
2018-06-21,0.0,0.0,0.0,12467.00,0.0,1.0
2018-06-22,0.0,0.0,0.0,12515.00,3.0,4.0
...,...,...,...,...,...,...
2019-03-11,11493.0,11597.5,11459.0,11540.00,121841.0,121088.0
2019-03-12,11605.5,11634.0,11496.0,11536.00,182773.0,118473.0
2019-03-13,11519.0,11611.5,11472.5,11577.00,120061.0,66825.0
2019-03-14,11605.5,11637.5,11537.5,11598.00,106064.0,43722.0
2019-03-15,11590.5,11720.0,11573.5,11709.85,8227.0,0.0

In [4]:
NQ = quandl.get("CHRIS/CME_NQ1")
UL = quandl.get("CHRIS/CME_UL1")
B6 = quandl.get("CHRIS/CME_BP1")
GC = quandl.get("CHRIS/CME_GC1")
FDAX = quandl.get("CHRIS/EUREX_FDAX1")
FGBL = quandl.get("CHRIS/EUREX_FGBL1")
A6 = quandl.get("CHRIS/CME_AD1")
HE = quandl.get("CHRIS/CME_LN1")

In [5]:
def volatility(ts, period=24):
    """
    Input:  Price time series, Look back period
    Output: Standard deviation of the percent change
    """
    return ts.pct_change().rolling(period).std().iloc[-1]

In [12]:
volatility(NQ['Settle'], 24) * 16

0.0191461903015407

In [5]:
NQ['Settle'].iloc[-757:].to_clipboard()

In [6]:
volatility(UL['Settle'], 24) * 16

0.15089129084201033

In [7]:
UL['Settle'].iloc[-757:].to_clipboard()

In [8]:
volatility(B6['Settle'], 24) * 16

0.1141114363520215

In [9]:
B6['Settle'].iloc[-757:].to_clipboard()

In [6]:
volatility(GC['Settle'], 24) * 16

0.24414172663946615

In [7]:
GC['Settle'].iloc[-757:].to_clipboard()

In [10]:
volatility(FDAX['Settle'], 24) * 16

0.20033600560189999

In [11]:
FDAX['Settle'].iloc[-757:].to_clipboard()

In [14]:
volatility(FGBL['Settle'], 24) * 16

0.0587292237768489

In [13]:
FGBL['Settle'].iloc[-757:].to_clipboard()

In [8]:
volatility(A6['Settle'], 24) * 16

0.09674108383649695

In [9]:
A6['Settle'].iloc[-757:].to_clipboard()

In [10]:
volatility(HE['Settle'], 24) * 16

0.3668497893930322

In [11]:
HE['Settle'].iloc[-757:].to_clipboard()

In [20]:
test = pd.read_csv('/home/nikki/downloads/FGBL.csv', index_col=0, parse_dates=True)

In [31]:
test[' Last'].iloc[-757:].to_clipboard()

In [17]:
FGBL['Settle'].tail(5)

Date
2020-09-03    177.07
2020-09-04    176.78
2020-09-07    176.52
2020-09-08    174.25
2020-09-09    173.68
Name: Settle, dtype: float64